* {
    box-sizing: border-box;
}

body {
    font-weight: 500;
    font-family: Montserrat, sans-serif;
}

ul {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
}

/* header block */

.header {
    max-width: 1440px;
    margin: 0 auto;
}

.header__wrapper {
    padding: 26px 40px 28px 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__navigation {

}

.header__list {
    display: flex;
    flex-direction: row; /* default */
    justify-content: flex-start; /* default */
    gap: 94px;
}

/* .header__item + .header__item {
    margin-left: 94px;
} */

/* end header block */


.hero {
    background: url("/assets/img/hero.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: auto;
    color: #fff;
    text-align: center;
}
.hero_tittle{
    font-size: 58px;
    font-weight: 700;
    line-height: 80px;
    letter-spacing: 0.2px;
}
.hero_food-app{
    color: #f6f6f6;
    margin-top: 73px;
    font-size: 24px;
    font-weight: 700;

}
.hero_download{
    color: #f6f6f6;
    margin-top: 27px;
    font-size: 24px;
    line-height: 38px;
    letter-spacing: 0.2px;

}
button{
    width: 236px;
    padding: 16px 0px;
    align-items: center;
    border-radius: 30px;
    border: 1px solid #FFF;
    margin-bottom: 146px;
    margin-top: 54px;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0.1px;
    color: #FFF;
    background: none;
}
.playstore{
    background: #fa4a0c;
}
